<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199276883649-kibmecvnql4tt55c457ovqm1bthc03g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199276883649-kibmecvnql4tt55c457ovqm1bthc03g8</string>
	<key>API_KEY</key>
	<string>AIzaSyD5y7LTwSLF0tKFjtzcWicNmo6MsdHABMA</string>
	<key>GCM_SENDER_ID</key>
	<string>199276883649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alevy.SnipApplication</string>
	<key>PROJECT_ID</key>
	<string>snip-bb2a2</string>
	<key>STORAGE_BUCKET</key>
	<string>snip-bb2a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199276883649:ios:2c5742f65dd64e2b996e40</string>
</dict>
</plist>